body {
    font-family: "avenir next", Arial, sans-serif;
    margin: 0;
    background-attachment: fixed;
    

}

.chart {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#tooltip {
    position: absolute;
    pointer-events: none;
    /* Other styling properties */
}

.g:hover {
    stroke: black;
    stroke-width: 3px;
}

.step {
    min-height: 512px;
    /* Example height, adjust as necessary */
    /* Other styles */
}

.container {
    display: flex;
    align-items: start;
}

.text-section {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
    color: white;
}

.chart-section {
    flex: 1;
    /* Additional styling */
}

.chart-section {
    position: sticky;
    top: 0;
    /* Adjust this value based on your layout, header size, etc. */
    height: 70vh;
    /* Full viewport height */
    /* Additional styling as needed */
}

h1 {
    text-align: center;
    /* Centers the title on the page */
    margin-top: 30px;
    /* Adds space above the title */
    font-size: 36px;
    /* Sets the size of the title */
    /* Additional styles */
}