body {
    font-family: "avenir next", Arial, sans-serif;
    margin: 0;
    background-attachment: fixed;
    background-image: url('./data/images/Rolland\ Garros.png');
    background-size: cover;
    transition: background-image 0.5s ease-in-out;

}

.chart {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#tooltip {
    position: absolute;
    pointer-events: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    width: 200px;
    text-align: center;
    /* Other styling properties */
}

.g:hover {
    stroke: black;
    stroke-width: 3px;
}

.step {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* This centers the .text-container vertically */
}

.container {
    display: flex;
    align-items: start;
    vertical-align: middle;
}

.text-section {
    padding: 30px;
    flex: 1;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 35%;
    /* Adjust the max-width as needed */
    background-color: rgba(0, 0, 0, 0.5);
}

.text-section a {
    color: black;
    /* This ensures that the link is also black */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    /* This will center the child elements */
    flex-direction: column;

}

.header-text {
    background-color: rgba(0, 0, 0, 0.4);
}

.box-arrow1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}
.box-arrow2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    bottom: 10vh;
}

.chart-section {
    flex: 2;
    padding: 20px;
    /* Additional styling */
}

.chart-section {
    position: sticky;
    top: 5vh;
    /* Adjust this value based on your layout, header size, etc. */
    height: 90vh;
    /* Full viewport height */
    /* Additional styling as needed */
}

h1 {
    text-align: center;
    /* Centers the title on the page */
    margin-top: 15px;
    /* Adds space above the title */
    font-size: 36px;
    /* Sets the size of the title */
    /* Additional styles */
}

.first-step {
    background-image: url('./data/images/Grand Slams.png');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* This will ensure that the div takes up at least the full viewport height */
    display: flex;
    justify-content: center;
    /* This will center the child elements */
}

#down-arrow1 {
    width: 300px;
    height: 300px;
}

#down-arrow2 {
    width: 300px;
    height: 300px;
}

#down-arrow3 {
    width: 300px;
    height: 300px;
}

#down-arrow4 {
    width: 300px;
    height: 300px;
}
.chart{
    transform: translateY(+100%);
}

#loader{
    width: 200px;
    height: 200px;
    margin: 30%;
}

.svg{
    height: 90vh;
}

@media only screen and (max-width: 1000px) {

    .svg {
        width: 30vh;
        transform: translateY(+10%);
    }

    .step{
        min-height: 100vh;
    }

    .text-section {
        padding: 5px;
        max-width: 35%;
        min-width: 30vw;
        font-size: 30px;
    }

    #tooltip {
        left: 60%;
        transform: translateY(+150%) !important;
        }
    
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    margin-top: 100%;
    margin-left: 30%;
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }