body {
    font-family: "avenir next", Arial, sans-serif;
    margin: 0;
    background-attachment: fixed;
    background-image: url('./data/images/Rolland\ Garros.png');
    background-size: cover;
    transition: background-image 0.5s ease-in-out;

}

.chart {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#tooltip {
    position: absolute;
    pointer-events: none;
    /* Other styling properties */
}

.g:hover {
    stroke: black;
    stroke-width: 3px;
}

.step {
    min-height: 600px;
    /* Example height, adjust as necessary */
    /* Other styles */
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the .text-container vertically */
}

.container {
    display: flex;
    align-items: start;
    vertical-align: middle;
}

.text-section {
    padding: 30px;
    margin-bottom: 30px;
    flex: 1;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 35%; /* Adjust the max-width as needed */
}

.header {
    padding: 20px;
    flex: 1;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.chart-section {
    flex: 2;
    padding: 20px;
    /* Additional styling */
}

.chart-section {
    position: sticky;
    top: 0;
    /* Adjust this value based on your layout, header size, etc. */
    height: 400px;
    /* Full viewport height */
    /* Additional styling as needed */
}

h1 {
    text-align: center;
    /* Centers the title on the page */
    margin-top: 30px;
    /* Adds space above the title */
    font-size: 36px;
    /* Sets the size of the title */
    /* Additional styles */
}

.first-step {
    background-image: url('./data/images/Grand Slams.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* This will ensure that the div takes up at least the full viewport height */
}