body {
    font-family: "avenir next", Arial, sans-serif;
    margin: 0;
    background-attachment: fixed;
    background-image: url('./data/images/Rolland\ Garros.png');
    background-size: cover;
    transition: background-image 0.5s ease-in-out;

}

.chart {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#tooltip {
    position: absolute;
    pointer-events: none;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    width: 200px;
    text-align: center;
    /* Other styling properties */
}

.g:hover {
    stroke: black;
    stroke-width: 3px;
}

.step {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* This centers the .text-container vertically */
}

.container {
    display: flex;
    align-items: start;
    vertical-align: middle;
}

.text-section {
    padding: 30px;
    flex: 1;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    max-width: 35%;
    /* Adjust the max-width as needed */
    background-color: rgba(0, 0, 0, 0.5);
}

.text-section a {
    color: black;
    /* This ensures that the link is also black */
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    /* This will center the child elements */
    flex-direction: column;

}

.header-text {
    background-color: rgba(0, 0, 0, 0.4);
}

.box-arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.chart-section {
    flex: 2;
    padding: 20px;
    /* Additional styling */
}

.chart-section {
    position: sticky;
    top: 5vh;
    /* Adjust this value based on your layout, header size, etc. */
    height: 90vh;
    /* Full viewport height */
    /* Additional styling as needed */
}

h1 {
    text-align: center;
    /* Centers the title on the page */
    margin-top: 15px;
    /* Adds space above the title */
    font-size: 36px;
    /* Sets the size of the title */
    /* Additional styles */
}

.first-step {
    background-image: url('./data/images/Grand Slams.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* This will ensure that the div takes up at least the full viewport height */
    display: flex;
    justify-content: center;
    /* This will center the child elements */
}

#down-arrow {
    width: 300px;
    height: 300px;
}

.chart{
    transform: translateY(+100%);
}

.svg{
    height: 90vh;
}

@media only screen and (max-width: 1000px) {

    .svg {
        width: 35vh;
        transform: translateY(+10%);
    }

    .step{
        min-height: 100vh;
    }

    .text-section {
        padding: 5px;
        max-width: 35%;
        min-width: 30vw;
        font-size: 30px;
    }
    
}
  